{% extends 'frontpage/frontpage.html' %}

{% block title%}{{ blog.title }}{% endblock %}

{% block content %}
<h1 class="text-center text-2xl font-semibold">{{ blog.title }}</h1>
<div class="flex justify-center items-center mt-6">
    <img src = "{{ blog.image.url }}" class = "rounded-xl">
</div>

<p class="text-gray-500">{{ blog.author }}</p>
<p class="text-gray-500">{{ blog.date }}</p>

<div class="flex justify-center items-center mt-3 px-72">
       <p class="w-104 text-xl text-gray-700">
           {{ blog.body_paragraph }}
       </p>
</div>

<div class="mt-6 px py-12 bg-gray-100 rounded-x1">
        <h2 class="mb-12 text-2xl text-center">Other blogs about {{ blog.subject }}</h2>
        <div class="grid grid-cols-3 gap-3">
           {% for blog in related_blogs %}
            <div>
                <a href="{% url 'blog:fullblog' blog.id %}">
                    <div>
                        <img src="{{ blog.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ blog.title }}</h2>
                        <p class="text-gray-500">{{ blog.author }} </p>
                        <p class="text-gray-500">{{ blog.date }} </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

  
{% endblock %}