{% extends 'frontpage/frontpage.html'%}
{% block tile %}Latest Blogs from ACE Tutoring{%endblock%}
{% block content %}
    <div class="mt-6 px py-12 bg-gray-100 rounded-x1">
        <h2 class="mb-12 text-2xl text-center">Blogs</h2>

        <div class="grid grid-cols-3 gap-3">
           {% for blog in blogs %}
            <div>
                # {% url 'blog:detail' blog.id %}
                <a href="#">
                    <div>
                        <img src="{{ blog.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ blog.title }}</h2>
                        <p class="text-gray-500">Date of publication: {{ blog.date }} </p>
                        <p class="text-gray-500">Author: {{ blog.author }} </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}